@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "SMS Notifications for C# and ASP.NET";
}

<h1>SMS Notifications</h1>
<p>Use this form to send MMS notifications to any subscribers.</p>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="message">Enter a message</label>
        <input type="text" name="message" class="form-control" placeholder="New things are happening!" />
    </div>
    <div class="form-group">
        <label for="imageUrl">(Optional) Image URL to send in an MMS</label>
        <input type="text" name="imageUrl" class="form-control" placeholder="http://fake.twilio.com/some_image.png">
    </div>
    <button type="submit" class="btn btn-primary">Send Yourself a Message!</button>
}
